*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    /* background-color: antiquewhite; */
    background: linear-gradient(to bottom, #a5c9ff 0%, #b1b1b1 100%);
    padding:10px;
}

.todo-app{
    width:100%;
    max-width: 500px;
    background: #ffffff;
    margin: 100px auto 20px;
    padding:50px 30px;
    border-radius: 10px;
}
.todo-app h1{
    color:rgb(36, 71, 117);
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}
.todo-app img{
    width: 150px;
    margin-top:10px;
    margin-left: 100px;

}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background:#d6d6d6;
    border-radius: 20px;
    padding-left: 10px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline: none;
    background:transparent;
    padding:10px;
    font-weight: 14px;
}
button{
    border:none;
    outline:none;
    padding:16px 50px;
    background: #f34c4c;
    color:#000000;
    font-size:16px;
    cursor: pointer;
    border-radius: 20px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(assets/checked.png);
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #b1b1b1;
}